.game {
    display: flex;   
    align-items:stretch;
    justify-content: space-evenly;
    justify-self: center;
    margin-top: 15%;
    width: 80%;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff1f2;
    margin: 0.25em;
    height: 3em;
    width: 3em;
    text-align: center;
    background-color: #c05300;
    border-radius: 5px;
}

.board-row {
    display: flex;    
    margin: 0.5em;
    max-height: 3em;
}

.status {
    color: #3f6212;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}


ol li button {
    height: 2em;
    margin: 0.125em 0;
    background-color: #8eb040;
}

ol {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}




.aside-note {
    color: #3f6212;
}