footer {
    background-color: #fff1f2;
    color: #3f6212;
    padding: 10px;
    text-align: center;    
    border-top: #3f621244 1px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}