footer {
    background-color: #fff1f2;
    color: #3f6212;
    padding: 10px;
    text-align: center;    
    border-top: #3f621244 1px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 3rem;
}

.icons {
    width: 1.5rem;
    height: 1.5rem;    
}

/*  */

footer a {
    text-decoration: none;
    color: #3f6212;
    margin: 0 10px;
}