.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.projects .projects-link {
  color: #3f6212;
  text-decoration: none;
  font-size: 4rem;
  font-weight: bold;
}

@media only screen and (max-width: 460px) {
    .projects h4 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 461px) and (max-width: 600px) {
    .projects h4 {
        font-size: 3rem;
    }
}

