.projects {
  display: flex;
  gap: 10em;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #3f6212;
}

.projects-link {
  color: #fff1f2;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #c05300;
  text-align: center;
  padding: 0.25em;
  margin-bottom: 0.125em;
  border-radius: 0.25em;
}

.project-section {
  display: flex;
  flex-direction: column;
}

.projects h2 {
  font-size: 3rem;

}

@media only screen and (max-width: 460px) {
    .projects h4 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 461px) and (max-width: 600px) {
    .projects h4 {
        font-size: 3rem;
    }
}

